.innocaptionLogo {
  width: 200px;
  height: auto; 
}

.pageContents {
  margin-top: 100px;
  padding: 100px 250px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  color: #ffffff;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input {
  background-color: #222831;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9;

  transition: all 240ms ease-out;
  width: 100%;
  border-radius: 100px;
  
  &::placeholder {
    color: #ffffff;
  }
  
  &:focus {
    outline: none;
    color: #ffffff;
   
  }
}

.productItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.itemBox {
  width: 25vw;
  border: 2px solid #1b2027;
  background-color: #222831;
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.cartButton {
  font-size: 24px; 
}

.thumbnail {
  width: 20vw;
  margin-left: 5%;
  border-radius: 20px;
  border: 2px solid #1b2027;
  margin-top: 10px;
}

.shoppingCart {
  margin-top: 50px;
  border-top: 2px solid #ffffff;
  padding: 20px 10px;
}

.popup {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 999;
}
